html > * {
  margin: 0;
}

body {
  position: relative;
}

h3 {
  font-size: 20px;
  padding-top: 5px;
}

h4 {
  font-size: 18px;
}

.display-3 {
  font-size: 20px;
}

/* Grid Container */

#gridcontainer {
  display: grid;
  grid-template-columns: 280px 3fr;
  grid-template-areas:
    "h h"
    "n m"
    "f f";
}

/* Header */

#h-container {
  grid-area: h;
  background-color: #563d7c;
  color: ghostwhite;
  padding-left: 20px;
  border-bottom: 2px solid #563d7c;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 80px;
  display: flex;
}

#h-container div {
  display: flex;
  align-self: center !important;
}

#h-container div > img {
  margin-right: 10px;
  width: 36px;
  height: 36px;
  align-self: center;
}


#h-container div > h1 {
  margin: 0;
  margin-left: 10px;
}

/* Main Container */

#m-container {
  grid-area: m;
  padding-left: 20px;
  padding-right: 40px;
  /background-color: purple;
  position: fixed;
  top: 85px;
  bottom: 35px;
  left: 280px;
  /z-index: 1000;
  /height: auto;
  overflow-y: scroll !important;
  -webkit-transform: translatez(0);
  -webkit-overflow-scrolling: touch;
}

#main-doc {
  /background-color: yellow;
  /padding-top: 1px !important;
}
.main-section:first-child {
  /margin-top: -20px !important;
  /background-color: green;
  padding-top: 1px !important;
  margin: 0;
}

#main-doc > section {
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  
}

.main-section:last-child {
  padding-bottom: 100px !important;
  border-bottom: 0px solid lightgrey !important;
}



/* NAV Container */

#n-container {
  grid-area: n;
  /background-color: pink;
  position: fixed;
  overflow-y: scroll;
  width: 280px;
  margin: 0;
  top: 80px;
  height: 100%;
  border-right: 1px solid #563d7c;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.5), 1px 0 0 0 rgba(0, 0, 0, 0.19);
  /z-index: 4;
  /padding-bottom: 100px !important;
  -webkit-overflow-scrolling: touch;
  
}

#navbar {
  /margin-top: -15px;
  /font-size: 13px;
  cursor: pointer;
}

#navbar ul {
  list-style-type: none;
  /background-color: red;
  padding-bottom: 200px;
  padding-top: 8px;
  cursor: pointer;
}

#navbar ul li {
  list-style-type: none;
  /background-color: cyan;
  padding: 12px;
  margin-left: -40px !important;
  border-top: 1px solid #e8e8e8;
  padding-left: 20px;
  margin-top: -16px;
  cursor: pointer;
}

.first {
  border-top: 0 solid #e8e8e8 !important;
}

#navbar li, #navbar a {
  color: #444;
  font-size: 16px;
  text-decoration: none !important;
  cursor: pointer;
}

#navbar li:hover {
  background-color: #E5E1Ea;
  color: #111;
  cursor: pointer;
}


/* Footer */

#f-container {
  grid-area: f;
  border-top: 2px solid #563d7c;
  /box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(0, 0, 0, 0.19);
  border-bottom: 0;
  position: fixed;
  z-index: 100;
  bottom: 0;
  height: 35px;
  width: 100%;
  background-color: #cbbde2;
  color: #222;
  align-self: center;
}

#f-container footer p {
  text-align: center;
  font-size: x-small;
  padding-top: 2.5px;
  margin: 0;
  height: 30px;
}

#f-container footer a {
  color: #563d7c;
}

/* Other CSS */

blockquote {
  background-color: #f9f9f9;
  border: 2px solid #f0f0f0;
  max-height: none;
  max-width: 550px;
  width: auto;
  height: auto !important;
  overflow-x: auto;
  white-space: pre-wrap;
  clear: both;
  padding-top: -10px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  box-sizing: border-box;
}

code {
  color: black;
}

pre {
  background-color: #f9f9f9;
  border: 2px solid #f0f0f0;
  max-height: none;
  max-width: 500px;
  width: auto;
  height: auto !important;
  overflow-x: auto;
  white-space: nowrap;
  clear: both;
  padding: 10px;
  margin-left: 30px;
  box-sizing: border-box;
}

button {
  margin-left: 30px;
  height: 50px;
  width: auto;
  background-color: transparent;
  border-radius: 50px;
  border-shadow: none;
  border: 3px solid #cbbde2;
  padding-left: 20px;
  padding-right: 20px;
  color: #cbbde2;
  font-size: medium;
  cursor: pointer;
}

button:hover {
  background-color: #563d7c;
  color: ghostwhite;
  border: 3px solid #563d7c;
}

/pre > code:first-child {
  content: ""
}

code {
  /background-color: #f9f9f9;
  /border: 2px solid black;
  /
}

/* Media Queries for Screen Sizes */

@media screen and (min-width: 768px) {
   #navbar li:hover {
  background-color: #E5E1Ea;
  color: #111;
  cursor: pointer;
}
  
}


/* Tablet Size and Vertical layout */

@media screen and (max-width: 767px) {
  
  #gridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h"
    "n"
    "m"
    "f";
}
  
  #h-container {
    z-index: 55;
    padding-left: 0;
    border-bottom: 2px solid grey;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.5), 1px 0 0 0 rgba(0, 0, 0, 0.19);
  }
  
  #n-container {
  grid-area: n;
  background-color: whitesmoke;
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  margin: 0;
  top: 80px;
  height: 150px;
  border-bottom: 2px solid darkgrey;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.5), 1px 0 0 0 rgba(0, 0, 0, 0.19);
  z-index: 34;
}
  nav ul {
  padding-bottom: 10px;
}
  
 #m-container {
  grid-area: m;
  /padding-top: 20px !important;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  position: fixed;
  top: 230px !important;
  left: 0;
  height: auto;
  overflow: scroll;
  z-index: 12;
}
  
  #h-container {
    display: flex;
    /margin: auto;
    /background-color: blue;
    /align-self: center !important;
    justify-content: center !important;
  }
  
  /#h-container div > h1 {
    margin: 0;
    padding-left: 10px;
  }
  
  /#h-container div > svg {
    margin: 0;
    padding-right: 10px;
  }
}

/* Small Devices */

@media screen and (max-width: 580px) {
  
  #h-container div > h1 {
    font-size: 1.5em;
    /padding-top: 7px;
    /padding-left: 0px;
    flex-shrink: 2;
  }
  
  #n-container {
    height: 150px;
  }
  
  #m-container {
    width: 99% !important;
    top: 230px !important;
  }
  /table {
    width: 70% !important;
  }
  
  /blockquote, pre {
    width: 70% !important;
  }
  
}

@media screen and (max-width: 414px) {
  
  #h-container div > h1 {
    font-size: 1em;
  }
  

  
  
  #n-container {
    /background-color: blue;
    height: 150px;
  }
  
  #navbar ul {
  list-style-type: none;
  /background-color: red;
  padding-bottom: 30px;
  padding-top: 8px;
  cursor: pointer;
}
 #m-container {
  grid-area: m;
  /padding-left: 20px;
  /padding-right: 40px;
  /margin-top: -10px !important;
  /background-color: purple;
  position: fixed;
  top: 230px !important;
  /bottom: 35px;
  /left: 280px;
  /z-index: 1000;
  /height: auto;
  overflow-y: scroll !important;
  -webkit-transform: translatez(0);
  -webkit-overflow-scrolling: touch;
}
}

/* Under 300px no content */

@media (max-width: 299px) {
   #h-container, #n-container, #f-container, #m-container {
    display: none;
  }
	
body:before {
		content: "You Need A Larger Device";
		visibility: visible;
		font-size: medium;
	}
}